---
import MainLayout from "../../layouts/MainLayout.astro";
import { useTranslations } from "../../i18n/utils"
import type { languageList } from "../../i18n/ui"

const currentLocale = Astro.currentLocale || "es"

const translateLabels = useTranslations(
  currentLocale as keyof typeof languageList
);
---

<MainLayout>
	<h1>{translateLabels('home.title')}</h1>
	<p>{translateLabels('home.description')}</p>
</MainLayout>


<style>
	h1 {
		font-size: 3rem;
	}
</style>
