---
import { getRelativeLocaleUrl } from "astro:i18n"
import { useTranslations } from "../i18n/utils"
import { languageList } from "../i18n/ui"

const currentLocale = Astro.currentLocale || "es"

const translateLabels = useTranslations(
  currentLocale as keyof typeof languageList
);

---

<!DOCTYPE html>
<html lang={currentLocale}>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>i18n</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href={getRelativeLocaleUrl(currentLocale, '/')}>{translateLabels('navbar.home')}</a></li>
        <li><a href={getRelativeLocaleUrl(currentLocale, 'about')}>{translateLabels('navbar.about')}</a></li>
        {Object.entries(languageList).map(([lang, label]) => (
          <li>
            <a href={`/${lang}/`}>{label}</a>
          </li>
        ))}
      </ul> 
    </nav>
  </header>
  <main>
    <slot />
  </main>
</body>
</html>